body{
  margin: 0px;
}

.page {
  width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  height: 130px;
  display: flex;
  justify-content: space-between;
  position: relative; 
  align-items: center; 
}

.header-logo {
  margin-top: 0px;
  margin-left: -5px;
}

.header-list{
  list-style: none;
  padding-left: 0px;
  display: flex;
}

.list-item{
  margin-left: 56px;

}

.header-list:last-child {
  margin-right: 13px;
  margin-top: 11px;
}

a {
  font-family:  "Times New Roman", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #f4f5f9;
  text-decoration: none;  
}

a:hover{
  padding-bottom: 18px;
  border-bottom: 1px solid #e74c3c;
  color: #e74c3c;
}

.main-bg {
  height: 990px; 
  width: 100%; 
  overflow: auto; 
  position: relative;
  background: url(/img/background.png) repeat-y;
}


.main-bg::before{
  display: block;
  position: absolute;
  height: inherit; 
  width: inherit; 
  overflow: auto; 
  content: "";
  background-color: black;
  opacity: 0.7;
}

.preview{
  position: relative;
  width: 790px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 187px;
}

.motto { 
  text-align: center;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  color: #f4f5f9;
  letter-spacing: 1.2px;
  margin-left: -10px;
}

.title {
  text-align: center;
  font-size: 72px;
  font-family: "Open Sans", sans-serif;
  color: #f4f5f9;
  margin-top: 17px;
  letter-spacing: 6.9px; 
  text-transform: uppercase;
  font-weight: bold;
}


.separator{
  margin-top: 31px;
  width: 100%;
}

.line{
  width: 80px;
  border-bottom: 1px solid #f1ebe7;
  }

.first{
  margin-left: 291px;
  margin-top: -1px;
}

.second
{
  margin-top: -2px;
  margin-left: 408px;
} 

.circle{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #e74c3c;
  margin-left: 385px;
  margin-top: -5px;
}

.info {
  margin-top: 40px;
  margin-right: 13px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #cbc6c0;
  line-height: 24px;
}

.button-container{
  display: flex;
  justify-content: center;
}

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
  width: 223px;
  height: 54px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.btn {
  margin-right: 20px;
  margin-left: 12px;
  margin-top: 66px;
}
